<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zw.mapper.CodeMapper" >

  <select id="listCode" resultType="com.zw.domain.Code">
      select id,code from code where id > 796
  </select>

</mapper>